In [1]:
import pandas as pd
import numpy as np

In [6]:
data = pd.read_csv('drinks.csv',index_col='Unnamed: 0')
data

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### 1

In [7]:
type(data)

pandas.core.frame.DataFrame

In [8]:
data.shape

(193, 6)

In [9]:
data.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

In [10]:
data.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [11]:
data.tail()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### 2

In [16]:
print('số lượng bia tiêu thụ trung bình:')
data['beer_servings'].mean()

số lượng bia tiêu thụ trung bình:

106.16062176165804

### 3

In [18]:
print('thống kê tổng quát(describe) số lượng rượu vang được tiêu huy ở mỗi châu lục')
data['wine_servings'].describe()

count    193.000000
mean      49.450777
std       79.697598
min        0.000000
25%        1.000000
50%        8.000000
75%       59.000000
max      370.000000
Name: wine_servings, dtype: float64

### 4

In [26]:
print('số lượng các loại bia rượu tiêu thụ trung bình(mean) ở mỗi châu lục: ')
data[['beer_servings','wine_servings']].mean()

số lượng các loại bia rượu tiêu thụ trung bình(mean) ở mỗi châu lục:

beer_servings    106.160622
wine_servings     49.450777
dtype: float64

### 5

In [27]:
print("giá trung vị(median) cho các loại bia và rượu tiêu thụ ở mỗi châu lục:")
data[['beer_servings','wine_servings']].median()

giá trung vị(median) cho các loại bia và rượu tiêu thụ ở mỗi châu lục:

beer_servings    76.0
wine_servings     8.0
dtype: float64

### 6

In [28]:
print( "số lượng rượu mạnh tiêu thụ trung bình của mỗi châu lục",data[['spirit_servings']].mean())
print( "số lượng rượu mạnh tiêu thụ lớn nhất của mỗi châu lục",data[['spirit_servings']].max())
print( "số lượng rượu mạnh tiêu thụ nhỏ nhất của mỗi châu lục",data[['spirit_servings']].min())

số lượng rượu mạnh tiêu thụ trung bình của mỗi châu lục spirit_servings    80.994819
dtype: float64
số lượng rượu mạnh tiêu thụ lớn nhất của mỗi châu lục spirit_servings    438
dtype: int64
số lượng rượu mạnh tiêu thụ nhỏ nhất của mỗi châu lục spirit_servings    0
dtype: int64

### 7

In [33]:
print('5 quốc gia có số lượng tiêu thụ bia nhiều nhất:')
data.sort_values(by='total_litres_of_pure_alcohol',ascending=False).head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
15,Belarus,142,373,42,14.4,EU
98,Lithuania,343,244,56,12.9,EU
3,Andorra,245,138,312,12.4,EU
68,Grenada,199,438,28,11.9,NaN
45,Czech Republic,361,170,134,11.8,EU

In [35]:
print('5 quốc gia có số lượng tiêu thụ bia ít nhất:')
data.sort_values(by='total_litres_of_pure_alcohol',ascending=True).head()

5 quốc gia có số lượng tiêu thụ bia ít nhất:

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
147,San Marino,0,0,0,0.0,EU
128,Pakistan,0,0,0,0.0,AS
46,North Korea,0,0,0,0.0,AS
13,Bangladesh,0,0,0,0.0,AS