In [2]:
import pandas as pd
import numpy as np
ser1 = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
ser2 =  pd.Series(np.arange(26))

In [5]:
ser = pd.DataFrame([ser1,ser2])
ser

  0  1  2  3  4  5  6  7  8  9   ...  16  17  18  19  20  21  22  23  24  25
0  a  b  c  d  e  f  g  h  i  j  ...   q   r   s   t   u   v   w   x   y   z
1  0  1  2  3  4  5  6  7  8  9  ...  16  17  18  19  20  21  22  23  24  25

[2 rows x 26 columns]