In [1]:
import pandas as pd
import numpy as np

In [2]:
ser = pd.Series(np.random.randint(1, 10, 35))

### tạo ra một series có 35 giá trị ngẫu nhiên từ 1 đến 10

In [9]:
df_ser = pd.DataFrame(ser.values.reshape(7, 5))

In [10]:
df_ser

   0  1  2  3  4
0  7  9  4  9  6
1  8  4  9  6  6
2  7  8  3  8  1
3  1  8  6  6  1
4  1  3  4  8  4
5  3  6  8  6  5
6  9  8  1  2  7